<section class="products-cards">
  <div class="product-header">
    <h1 class="title">Our Products</h1>
  </div>
  <p class="subtitle">Available products in the marketplace</p>
  <div class="cards">
    <mat-card *ngFor="let p of data" class="example-card product-card" appearance="outlined">
      <img mat-card-image [src]="p.image || '/assets/placeholder-header.jpg'" alt="{{ p.name }}" />
      <mat-card-header>
        <mat-card-title>{{ p.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ p.description }}</p>
        <p>Status: {{ p.status || 'N/A' }} | Price: {{ p.price }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary"><mat-icon style="margin: 0px;">shopping_cart</mat-icon></button>
        <button mat-button color="primary"><mat-icon style="margin: 0px;">favorite</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
